/*******************************************************************************/
/*                   Hoja de estilo del formulario                             */
/*                       Manuel Alarcón Fortes                                 */
/*******************************************************************************/

/*************************Estilo General*******************************/

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #272626;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #3bd000,
        #272626
    );
    left: -100px;
    top: -30px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #272626,
        #9e0089
    );
    right: -30px;
    bottom: -80px;
}

/*************************Formulario*******************************/
form{
    height: 720px;
    width: 1000px;
    background-color: #ffffff21;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #ffffff12;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #272626;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(214, 214, 214);
}

option{
    color: #272626;
}

select{
    backdrop-filter: blur(50px);
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.creacion{
    margin-bottom: 1.5%;
}

.aviso{
    color: red;
    visibility: hidden;
    padding-top: 0.5em;
    font-size: 0.7em;
}

span{
    color: red;
}

.form-check{
    display:block;
    min-height:1.5rem;
    padding-left:1.5em;
    margin-bottom:-3em;
    margin-top:0em;
}

.Ubicacion{
    float:right;
    margin-right:-1.5em;
    margin-left:0;
    width: 100%;
    height: 100%;
}

.form-check-label{
    cursor:pointer;
    opacity: 0.7;
    padding: 1em;
    margin: 0%;
}

/***************************Grid***************************/

.grid{
    margin: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.col-2{
    margin: 20px;
}

#crearCu{
    text-align: right;
}

/***********************Responsividad**************************/

@media screen and (max-width: 1000px) {
    .grid{
        grid-template-columns: 100%;
    }

    form{
        width: 90%;
        top: 50%;
        height: 1320px;
    }

    form h3{
        font-size: 3em;
    }

    label{
        font-size: 2em;
    }

    input{
        height: 75px;
        font-size: 1.5em;
    }

    select{
        height: 75px;
        font-size: 1.5em;
    }

    option{
        font-size: 0.5em
    }

    button{
        font-size: 1.5em;
    }
    
}