/*******************************************************************************/
/*                      Hoja de estilo de la tabla                             */
/*                       Manuel Alarcón Fortes                                 */
/*******************************************************************************/

/****************************Estilo General********************************/

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #272626;
	font-family: 'Poppins',sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

caption{
	margin-bottom: 10px;
	font-size: 1.5em;
	font-family: 'Poppins',sans-serif;
	color: white;
	background-color: #ffffff1f;
	border-radius: 10px;
}

table {
	text-align: center;
	width: 1200px;
	height: 90%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

th,
td {
	padding: 8px;
	background-color: #ffffff1f;
	color: #fff;
	border: solid 1px #b3009b00;
    backdrop-filter: blur(50px);
}

th, tr:hover td{
    text-align: center;
    background-color: beige;
    color: rgb(0, 0, 0);
}

th:hover{
    background-color: blanchedalmond;
}

button{
	border-radius: 10px ;
	font-family: 'Poppins',sans-serif;
	padding: 7px;
	width: 70px;
}

#add{
	background-color: #059600be;
}
#add:hover{
	background-color: #06660370;
}

.edit{
	background-color: #fff200d7;
	margin-bottom: 10% ;
}
.edit:hover{
	background-color: #ddd2058e;
}

.del {
	background-color: #ff0000bc;
}
.del:hover {
	background-color: #c40000a0;
}

.background .shape{
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #3bd000,
        #272626
    );
    left: 400px;
    top: 80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #272626,
        #9e0089
    );
    right: 400px;
    bottom: 80px;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	.shape{
		display: none;
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }

	td,th{
		padding: 0px;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 38%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.container{
		top:105%;
		left: 1%;
		width: 0px;
	}

	td:nth-of-type(1):before { content: "Nombre de la Pieza Histórica"; }
	td:nth-of-type(2):before { content: "País de Origen"; }
	td:nth-of-type(3):before { content: "Tipo de Pieza"; }
	td:nth-of-type(4):before { content: "Edad en la que fue creada"; }
	td:nth-of-type(5):before { content: "Descripción"; }
	td:nth-of-type(6):before { content: "Sección en la que se ubica"; }
	td:nth-of-type(7):before { content: "Funciones"; }
}