/*******************************************************************************/
/*                      Hoja de estilo de la tabla                             */
/*                       Manuel Alarcón Fortes                                 */
/*******************************************************************************/

/****************************Estilo General********************************/

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #272626;
	font-family: 'Poppins',sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

caption{
	margin-bottom: 10px;
	font-size: 1.5em;
	font-family: 'Poppins',sans-serif;
	color: white;
	background-color: #ffffff1f;
	border-radius: 10px;
}

table {
	text-align: center;
	width: 1200px;
	height: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

th,
td {
	padding: 15px;
	background-color: #ffffff1f;
	color: #fff;
	border: solid 1px #b3009b00;
    backdrop-filter: blur(50px);
}

th, tr:hover td{
    text-align: center;
    background-color: beige;
    color: rgb(0, 0, 0);
}

th:hover{
    background-color: blanchedalmond;
}

.edit, .del{
	border-radius: 10px ;
	font-family: 'Poppins',sans-serif;
	padding: 7px;
	width: 70px;
}

.edit{
	background-color: #fff200d7;
	margin-bottom: 10% ;
}
.edit:hover{
	background-color: #ddd2058e;
}

.del {
	background-color: #ff0000bc;
}
.del:hover {
	background-color: #c40000a0;
}

.background .shape{
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #237c00,
        #272626
    );
    left: 400px;
    top: 80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #272626,
        #b3009b
    );
    right: 400px;
    bottom: 80px;
}
